/* .App {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 70px;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.1);
} */
