.chat-container {
  position: absolute; /* 절대 위치 지정 */
  top: 0; /* 상단 위치 */
  left: 0; /* 왼쪽 위치 */
  width: 100%; /* 전체 너비 */
  height: 100%; /* 전체 높이 */
  overflow: hidden; /* 내용이 넘치지 않도록 숨김 */
  z-index: -1; /* 다른 요소 뒤로 배치 */
}

.chat-window {
  flex: 1; /* flexbox에서 크기 비율 */
  border: 1px solid #ccc; /* 경계선 설정 */
  border-radius: 8px; /* 모서리 둥글게 */
  width: 100%; /* 전체 너비 */
  height: 100%; /* 전체 높이 */
  display: flex; /* flexbox 레이아웃 사용 */
  flex-direction: column; /* 세로 방향 정렬 */
  background-color: #f9f9f9; /* 배경색 설정 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  position: relative; /* 자식 요소에 상대적 위치 지정 */
  overflow: hidden; /* 자식 요소가 부모를 넘지 않도록 설정 */
}

.chat-header {
  background-color: #f9f9f9; /* 헤더 배경색 */
  color: black; /* 글자 색상 */
  padding: 10px; /* 패딩 */
  border-top-left-radius: 8px; /* 좌측 상단 둥글게 */
  border-top-right-radius: 8px; /* 우측 상단 둥글게 */
}

.header-nickname {
  font-weight: bold;
  margin-left: 15px;
  font-size: 20px;
}

.chat-messages {
  flex: 1; /* 남은 공간을 모두 차지 */
  /*overflow-y: auto; !* 세로 스크롤 가능 *!*/
  position: relative;
  overflow: hidden;
}

.chat-messages-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto; /* 세로 스크롤 가능 */
}

/* 스크롤바 스타일링 */
.chat-messages-list::-webkit-scrollbar {
  width: 12px; /* 스크롤바 너비 */
}

.chat-messages-list::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #ffd4f8,
    #b4ecfde0
  ); /* 스크롤바 thumb 색상 */
  border-radius: 15px; /* 둥근 모서리 */
}

.chat-messages-list::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    #ff5c8a,
    #1a7cbe
  ); /* hover 시 색상 변화 */
}

.chat-messages-list::-webkit-scrollbar-track {
  background: transparent; /* 스크롤바 트랙 배경 투명 */
}

/* 메시지 래퍼 */
.message-wrapper {
  display: flex; /* flexbox 레이아웃 사용 */
  align-items: flex-start; /* 상단 정렬 */
}

/* 나의 메시지 스타일 */
.my-message {
  display: flex; /* 나의 메시지와 프로필을 나란히 배치 */
  margin-left: auto; /* 오른쪽 정렬 */
  align-items: center; /* 상단 정렬 */
  max-width: 85%; /* 최대 너비 설정 */
}

/* 나의 메시지 배경 및 스타일 */
.send-message {
  background-color: #b4ecfde0; /* 하늘색 배경 */
  border-radius: 15px; /* 둥근 모서리 */
  padding: 10px; /* 내부 여백 */
  margin-right: 10px; /* 프로필과의 간격 */
  max-width: 67%; /* 최대 너비 설정 */
  margin-top: 5px;
  font-size: 16px;
}

/* 상대방 메시지 스타일 */
.received-message {
  display: flex; /* 상대방 메시지와 프로필을 나란히 배치 */
  align-items: center; /* 상단 정렬 */
  max-width: 85%; /* 최대 너비 설정 */
  margin-top: 5px;
}

/* 프로필 섹션 스타일 */
.profile-section {
  display: flex; /* flexbox 레이아웃 사용 */
  flex-direction: column; /* 프로필 아래에 닉네임 배치 */
  align-items: center; /* 중앙 정렬 */
  margin: 5px; /* 메시지와의 간격 */
}

/* 메시지 내용 스타일 */
.your-message {
  background-color: #ffd4f8; /* 핑크색 배경 */
  border-radius: 15px; /* 둥근 모서리 */
  padding: 10px; /* 내부 여백 */
  max-width: 67%; /* 최대 너비 설정 */
  margin-left: 10px; /* 프로필과의 간격 */
  font-size: 16px;
}

.time-stamp {
  margin: 5px;
  font-size: 13px;
  max-width: 32px;
  text-align: center;
}

/* 프로필 이미지 스타일 */
.profile-image1 {
  width: 70px; /* 프로필 이미지 너비 */
  height: 70px; /* 프로필 이미지 높이 */
  border-radius: 50%; /* 동그랗게 만들기 */
  margin-left: 15px;
}

.profile-image {
  width: 70px; /* 프로필 이미지 너비 */
  height: 70px; /* 프로필 이미지 높이 */
  border-radius: 50%; /* 동그랗게 만들기 */
}

/* 닉네임 스타일 */
.nickname {
  font-weight: bold; /* 닉네임 강조 */
}

/* 채팅 입력 영역 스타일 */
.chat-input {
  display: flex; /* flexbox 레이아웃 사용 */
  padding: 18px; /* 내부 여백 */
  margin-left: 10px;
}

/* 입력 필드 스타일 */
.chat-input input {
  flex: 1; /* 남은 공간을 모두 차지 */
  padding: 10px; /* 내부 여백 */
  border: 1px solid #ccc; /* 경계선 */
  border-radius: 10px; /* 둥근 모서리 */
  margin-right: 5px; /* 버튼과의 간격 */
  font-size: 16px;
}

/* 버튼 스타일 */
.chat-input button {
  background-color: #1f93ff; /* 버튼 배경색 */
  color: white; /* 글자 색상 */
  border: none; /* 경계선 없음 */
  padding: 10px; /* 내부 여백 */
  width: 90px; /* 고정 너비 */
  border-radius: 10px; /* 둥근 모서리 */
  cursor: pointer; /* 커서 모양 변경 */
  font-size: 16px;
  margin-right: 10px;
}

/* 버튼 hover 효과 */
.chat-input button:hover {
  background-color: #1f93ff; /* hover 시 배경색 변화 */
}

/* 배경 비디오 스타일 */
.background-video {
  position: absolute; /* 절대 위치 지정 */
  top: 0; /* 상단 위치 */
  left: 0; /* 왼쪽 위치 */
  width: 100%; /* 전체 너비 */
  height: 100%; /* 전체 높이 */
  object-fit: cover; /* 비율을 유지하며 가득 차도록 설정 */
  z-index: -1; /* 비디오를 다른 요소 뒤로 보내기 */
}

/* 비디오 위에 위치할 요소 스타일 */
.chat-header,
.chat-messages,
.chat-input {
  position: relative; /* 자식 요소가 비디오 위에 위치하도록 설정 */
  z-index: 1; /* 비디오 위에 표시되도록 설정 */
}

/* 이모지 추가 */
.emoji-picker-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 배경 불투명 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.emoji-picker {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  width: fit-content;
}

/* 닫기 버튼 스타일 */
.close-btn {
  position: absolute;
  top: -30px; /* 이모티콘 피커 위쪽에 */
  right: 0;
  background: grey;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
}

.emoji-button {
  font-size: 32px;
  margin-right: 5px;
  text-align: center;
  padding-bottom: 5px;
  cursor: pointer;
}

.back-button {
  background-color: #007bff;
  color: white;
  border: none;

  margin-top: 25px;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}

