.chatlist {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chatlist-header {
  background-color: #f9f9f9; /* 헤더 배경색 */
  color: black; /* 글자 색상 */
  padding: 13px; /* 패딩 */
  border-top-left-radius: 8px; /* 좌측 상단 둥글게 */
  border-top-right-radius: 8px; /* 우측 상단 둥글게 */
  display: flex;
}

.header-nickname {
  margin-top: 40px;
}

.chatlist-body {
  background-color: #fff;
  height: calc(100% - 200px); /* 친구 목록 높이 조정 */
  overflow-y: auto;
  font-family: "Malgun Gothic", "돋움", "Dotum", sans-serif;
}

.chatroom-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chatroom-profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
}

.chatroom-info {
  display: flex;
  flex-direction: column;
}

.chatroom-nickname {
  font-size: 16px;
  font-weight: bold;
}

.chatroom-last-message {
  font-size: 14px;
  color: #666;
}

.chatroom-time {
  font-size: 12px;
  color: #aaa;
  margin-top: 5px;
}

.chatlist-bottom {
  background-color: #f0f0f0;
  position: absolute;
  bottom: 0; /* friends-bottom이 항상 화면 하단에 고정 */
  width: 100%; /* 너비 100% */
  z-index: 0; /* 친구 목록 위로 오도록 */
}
