.friends-list {
  width: 100%;
  height: 100%;
  position: relative;
}
.friends-header {
  background-color: #f9f9f9; /* 헤더 배경색 */
  color: black; /* 글자 색상 */
  padding: 13px;
  border-top-left-radius: 8px; /* 좌측 상단 둥글게 */
  border-top-right-radius: 8px; /* 우측 상단 둥글게 */
  display: flex;
}
.header-nickname {
  width: 300px;
  margin-top: 40px;
}

.add-friend-button {
  background-color: #007bff;
  color: white;
  border: none;

  margin-top: 25px;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
}

.add-friend-button:hover {
  background-color: #0056b3;
}

.friends-body {
  background-color: #fff;
  height: calc(100% - 200px); /* 친구 목록 높이 조정 */
  overflow-y: auto;
  font-family: "Malgun Gothic", "돋움", "Dotum", sans-serif;
}

.friends-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 친구 아이템 스타일 */
.friend-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.friend-profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
}

.friend-nickname {
  font-size: 16px;
  font-weight: 500;
}

/* 친구 바텀 영역 */
.friends-bottom {
  background-color: #f0f0f0;
  position: absolute;
  bottom: 0; /* friends-bottom이 항상 화면 하단에 고정 */
  width: 100%; /* 너비 100% */
  z-index: 0; /* 친구 목록 위로 오도록 */
}

.friend-item {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.friend-item:hover {
  transform: scale(1.05); /* 호버 시 확대 */
}

.friend-profile-card {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  top: 100%; /* 리스트 아이템 아래에 위치 */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px; /* 너비 증가 */
  height: auto; /* 높이는 내용에 따라 자동 조정 */
}




.friend-profile-card-image {
  width: 200px; /* 프로필 카드 이미지 크기 */
  height: 200px;
  border-radius: 50%; /* 원형 이미지 */
  transition: transform 0.3s ease; /* 확대 애니메이션 추가 */
}

.friend-profile-card-image:hover {
  transform: scale(1.1); /* 호버 시 확대 */
}

.friend-profile-card-nickname {
  font-size: 18px; /* 글자 크기 증가 */
  margin-top: 10px; /* 위쪽 여백 추가 */
}

.chat-button {
  margin-top: 10px;
  padding: 8px 10px;
  background-color: skyblue; /* 버튼 색상 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease; /* 호버 시 확대 애니메이션 추가 */
}

.chat-button:hover {
  transform: scale(1.1); /* 호버 시 버튼 확대 */
}

.close-button {
  background: none;
  border: none;
  color: #999;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-button:hover {
  color: red; /* 호버 시 색상 변경 */
}햣