.friends-list {
  width: 100%;
  height: 100%;
  position: relative;
}
.friends-header {
  background-color: #f9f9f9; /* 헤더 배경색 */
  color: black; /* 글자 색상 */
  padding: 13px;
  border-top-left-radius: 8px; /* 좌측 상단 둥글게 */
  border-top-right-radius: 8px; /* 우측 상단 둥글게 */
  display: flex;
}
.header-nickname {
  width: 300px;
  margin-top: 40px;
}

.add-friend-button {
  background-color: #007bff;
  color: white;
  border: none;

  margin-top: 25px;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
}

.add-friend-button:hover {
  background-color: #0056b3;
}

.friends-body {
  background-color: #fff;
  height: calc(100% - 200px); /* 친구 목록 높이 조정 */
  overflow-y: auto;
  font-family: "Malgun Gothic", "돋움", "Dotum", sans-serif;
}

.friends-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 친구 아이템 스타일 */
.friend-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.friend-profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
}

.friend-nickname {
  font-size: 16px;
  font-weight: 500;
}

/* 친구 바텀 영역 */
.friends-bottom {
  background-color: #f0f0f0;
  position: absolute;
  bottom: 0; /* friends-bottom이 항상 화면 하단에 고정 */
  width: 100%; /* 너비 100% */
  z-index: 0; /* 친구 목록 위로 오도록 */
}

/* 팝업 스타일 */
.add-friend-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 다른 요소들보다 위에 */
}

.popup-content {
  background-color: white;
  padding: 10px 0 30px 0;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
}

/* 검색창 스타일 */
.search-input {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.search-button {
  padding: 10px;
  background-color: #00bfff;
  color: white;
  border: none;
  cursor: pointer;
  width: 35%;

  border-radius: 10px;
}

.search-button:hover {
  background-color: #007bff;
}

/* 검색된 친구 정보 표시 */
.friend-info {
  margin-top: 10px;
  text-align: center;
}

.searched-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.add-button {
  padding: 10px;
  background-color: #00bfff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 35%;
  margin: 10px;
}

.add-button:hover {
  background-color: #007bff;
}

.close-button {
  padding: 10px;
  background-color: #00bfff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 20px;
  width: 35%;
}

.close-button:hover {
  background-color: #007bff;
}
