.mypage {
  width: 100%;
  height: 100%;
  position: relative;
}
.mypage-header {
  background-color: #f9f9f9; /* 헤더 배경색 */
  height: 70px;
  color: black; /* 글자 색상 */
  padding: 13px; /* 패딩 */
  border-top-left-radius: 8px; /* 좌측 상단 둥글게 */
  border-top-right-radius: 8px; /* 우측 상단 둥글게 */
}

.mypage-bottom {
  background-color: #f0f0f0;
  position: absolute;
  bottom: 0; /* friends-bottom이 항상 화면 하단에 고정 */
  width: 100%; /* 너비 100% */
  z-index: 0; /* 친구 목록 위로 오도록 */
}

/* .profile-container 스타일 */
.mypage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 744px; /* 화면 전체 높이 */
  width: 100%;
  text-align: center;
}

/* 프로필 이미지 미리보기 스타일 */
.mypage-image {
  width: 150px; /* 이미지 너비 */
  height: 150px; /* 이미지 높이 */
  border-radius: 50%; /* 원형 이미지 */
  margin-bottom: 30px; /* 아래쪽 여백 */
  cursor: pointer; /* 마우스 커서 */
}
