.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

/* .profile-icon {
  width: 200px;
  height: 200px;
  background-image: url("../images/profile.png");
  border-radius: 50%;
  background-color: #ffffff;
  background-size: cover;
  margin-bottom: 250px;
<<<<<<< HEAD
  cursor: pointer;
} */

.nickname-input {
  width: 300px;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 15px;
}

.register-button {
  padding: 15px 35px;
  background-color: #1f93ff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
}

.register-button:hover {
  background-color: #1f93ff;
}
